html, body{
    width:100%;
    height:100%;
    margin:0px;
}

#first{
    background: rgb(130, 173, 183) url('../img/1.jpg') no-repeat center/contain; 
    padding-top: 45%;
    width: 100%;
    /*background: rgb(130, 173, 183);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    background-image: url('../img/1.jpg');*/
    
}

#second {
    height: 20000px;
}
